@{
    ViewData["Title"] = "Home Page";
    
}

<div class="text-center">
    <h1 class="display-4">Bem vindo <h1>@UserSession.nome</h1></h1>
</div>

<img href="http://auditeste.com.br/wp-content/uploads/2020/02/erros_gestao.jpg" />
