@model ProjetoES2.Entities.Utilizador
@{
    ViewData["Title"] = "Registo";
    Layout = "_LoginPartial";
}
<div class="text-center">
    
    <h1 class="display-4">Registo de utilizador</h1>

</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Utilizadores" asp-action="Criar" method="post">
            
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label class="control-label">Nome de Utilizador</label>
                <input type="text" asp-for="Nome" class="form-control"/>
                <span asp-validation-for="Nome" class="text-danger"></span>
                
            </div>
            <div class="form-group">
                <label class="control-label"> Email</label>
                <input type="email" asp-for="Email" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>

            </div>

            <div class="form-group">
                <label class="control-label">Password</label>
                <input type="password" asp-for="Password" class="form-control"/>

            </div>

            <div class="form-group">
                <label class="control-label">Numero de horas diárias</label>
                <input type="number" asp-for="NumHorasDia" class="form-control"/>


            </div>
            <button type="submit" class="btn btn-primary"> Registar</button>
            <a asp-controller="Login" asp-action="Index"  role="button">Voltar</a>
        </form>
    </div>
</div>

