@{
    ViewBag.Title = "MenuUserManager";
    var hasError = ViewData["HasError"] as bool? ?? false;
    Layout = "LayoutUserManager";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo User Manager :<h1>@UserSession.nome</h1></h1>
</div>

