@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Relatórios</h2>

<p></p>

<div>
    <a asp-action="Janeiro">Janeiro</a>
</div>

<div>
    <a asp-action="Fevereiro">Fevereiro</a>
</div>

<div>
    <a asp-action="Marco">Março</a>
</div>

<div>
    <a asp-action="Abril">Abril</a>
</div>

<div>
    <a asp-action="Maio">Maio</a>
</div>

<div>
    <a asp-action="Junho">Junho</a>
</div>

<div>
    <a asp-action="Julho">Julho</a>
</div>

<div>
    <a asp-action="Agosto">Agosto</a>
</div>

<div>
    <a asp-action="Setembro">Setembro</a>
</div>

<div>
    <a asp-action="Outubro">Outubro</a>
</div>

<div>
    <a asp-action="Novembro">Novembro</a>
</div>

<div>
    <a asp-action="Dezembro">Dezembro</a>
</div>